html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/restaurant_real_ai_image_blur.png');
    background-size: cover;
    background-position: center;
}

.center-container {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#address-input {
    border: none;
    color: #1e1e1e;
    outline: none;
    box-shadow: none;
}

#address-input:focus {
    color: #1e1e1e;
    box-shadow: none;
}

#address-input::placeholder {
    color: #2e2e2e;
}

.rounded-pill {
    border-radius: 1rem 1rem 1rem 1rem !important;
}

#autocomplete-wrapper .rounded-pill {
    border-radius: 1rem 1rem 1rem 1rem;
}

#autocomplete-wrapper.is-open .rounded-pill {
    border-radius: 1rem 1rem 0 0 !important;
}

#autocomplete-list {
    border-radius: 0 0 1rem 1rem;
    border-top: none;
    z-index: 1000;
}

#autocomplete-list .autocomplete-item{
    padding-left: 48px; /* Pad text past search icon */
}


.autocomplete-item + .autocomplete-item {
    border-top: 1px solid #9aa0a6;
}

#price-dropdown,
#rating-dropdown,
#cuisine-dropdown,
#hours-dropdown,
#radius-dropdown {
    min-width: 110px;
    text-align: left;
}
