<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link href="/static/favicon.ico" rel="icon">
        <link rel="stylesheet" th:href="@{/css/styles.css}" />
        <title>Restaurant Picker!</title>
        <script th:inline="javascript">
            //const apiKey = [[${apiKey}]];
        </script>
        <script type="module" th:src="@{/js/index.js}"></script>
    </head>
    <body class="center-container"></body>
</html>
